<form method="GET" action="{% url 'task_list' %}">
    {{ filter_form.as_p }}  <!-- Відображення форми фільтрації -->
    <button type="submit" class="btn btn-primary">Фільтрувати</button>
</form>

<ul>
    {% for task in tasks %}
        <li>
            <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a>
            <a href="{% url 'task_update' task.pk %}">Редагувати</a>
            <a href="{% url 'task_delete' task.pk %}">Видалити</a>
        </li>
    {% endfor %}
</ul>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>